@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding);
}

/**************************  
# Navigation Bar
**************************/


/**************************  
# About Bar
**************************/


/**************************  
# Projects Bar
**************************/
/* .project-media img {
    height: 300px;
    width: 400px;
} */